.container {
  height: 100vh; /* 100vh ocupa 100% da altura da tela, e 100% ocupa 100% da altura do conteudo apenas */
  max-width: 992px;
  margin: 0 auto; /* pra centralizar tudo */
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column; /* para os proximos elementos ficarem um abaixo do outro */
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas de mesmo tamanho */
  gap: 6.25rem; /* eh espacamento entre as colunas. 6.25rem sao 100px no desktop, e diminui em tela menor */
  align-content: center; /* alinhar conteudo do grid verticalmente */
}